<footer>
  mdw – Universität für Musik und darstellende Kunst Wien<br />
  &nbsp; Anton-von-Webern-Platz 1, 1030 Wien,<nobr>T +43 1 711 55</nobr><br />
  <a href="https://www.mdw.ac.at/datenschutz/?PageId=6" target="_blank" aria-label="Datenschutzerklärung" alt="Datenschutzerklärung der mdw">Datenschutzerklärung <span class="sr-only">opens in a new window</span></a>
  |
  <a href="https://www.mdw.ac.at/repository/terms-of-use/" target="_blank" aria-label="Nutzungsbedigungen" alt="Nutzungsbedingungen des Repository Services der mdw - Universität für Musik und darstellende Kunst Wien">Nutzungsbedingungen <span class="sr-only">opens in a new window</span></a>
</footer>
