ALLOWED_ORIGINS=http://example.com,https://sub.example.com
ALLOWED_SOURCES=http://example.com,https://sub.example.com
SECRET_KEY="secret_key"
STATIC_URL_PATH=""
STATIC_FOLDER=""
THEME="mdw"
PORTAL_NAME="RIS Synergy API Portal"
LOG_LEVEL="DEBUG" # DEBUG, INFO, WARNING, ERROR, CRITICAL
LOG_FOLDER="D:\git\dspace-client\logs"
MATOMO_ENABLED=false
MATOMO_URL=https://matomo.example.com
MATOMO_SITE_ID=1
SENTRY_DSN=https://sentry.example.com
FLASK_DEBUG=0
OIDC_CLIENT_ID="ris-synergy"
OIDC_CREDENTIALS_SECRET="my_secret"
KEYCLOAK_TOKEN_URI="https://example.org/realms/my-auth/protocol/openid-connect/token"
KEYCLOAK_INTROSPECT_URI="https://example.org/realms/my-auth/protocol/openid-connect/token/introspect"
SUPPORTED_API_VERSION="1.0"